@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap);
* {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: rgba(21, 20, 20, 0.95);
}


html, body, p {
    margin: 0;
    padding: 0;
}

html {
    background-color: #7EA1BF;
}

.main-nav ul {
    display: flex;
    height: 100px;
    flex-flow: row wrap;
    justify-content: left;
    margin: 0;
    list-style-type: none;
    align-items: center;
}

.main-nav ul li {
    padding: 0.5em;
    font-size: 1.1em;
}

.main-nav ul li :hover {
    background-color: #7ea1bf40; opacity: 0.3;
}

.main-header {
    height: 6em;
    position: sticky; top: 0;
    width: auto;
    background-color: #7EA1BF;
    align-items: center;
}

.section-me {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}
.section-me p {
    padding: 0.5em;
}
.section-projects {
    padding: 0;
    background-color: #0d0d0d;
}

.section-projects p {
    color: #f2f2f2;
    padding: 0.5em;
}


.section-websites {
    padding: 0;
    background-color: #f2f2f2;
}
.section-websites p {
    padding: 0.5em;
}

.section {
    margin: 0 20px;
}