.main-nav ul {
    display: flex;
    height: 100px;
    flex-flow: row wrap;
    justify-content: left;
    margin: 0;
    list-style-type: none;
    align-items: center;
}

.main-nav ul li {
    width: auto;
    padding: 0.5em;
    font-size: 1.1em;
}

.main-nav ul li :hover {
    background-color: rgba(126, 161, 191, 0.315); opacity: 0.3;
}

.main-header {
    height: 6em;
    top: 0;
    width: auto;
    background-color: rgba(191, 182, 138);
    align-items: center;
}

.main-footer {
    margin: 0 20px;
    bottom: 0;
    height: 5em;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.social-icons {
    display: flex;
    align-items: center;
}
.social-icons ul {
    display: flex;
    padding: 0;
    padding-left: 10px;
    list-style-type: none;
}
.social-icons ul a :hover {
    background-color: rgba(51, 49, 38, 0.2);
}

.social-icons ul img {
    width: 32px;
    padding: 5px;
}

.copyright {
    display: flex;
    padding: 5px;
    padding-right: 10px;
    align-items: center;
}

