.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; 
}
.site-content {
    flex: 1;
}
.foto-articolo img {
    width: 150px;
}

.spazio-shop {
    display: flex;
    flex-direction: column;
    height: 450px;
    border: 3px black solid;
    padding: 0 20px;
    margin: 0 2em;
}
.spazio-articoli {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.articolo {
    border: 3px black solid;
}

.articolo img {
    padding: 1em;
    padding-bottom: 2em;
}